html {
    margin: 0;
    padding: 0;
}


body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-size: cover;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

header{
    padding: 0px;
}

.imgLogo{
	-webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    transition: .5s, color .10s;
    padding-right: 10px;
    padding-left: 10px;
}
.imgLogo:hover{  
    -webkit-transform: scale3d(1.3, 1.3, 1);
    -moz-transform: scale3d(1.3, 1.3, 1);
    transform: scale3d(1.3, 1.3, 1);
}

.txt-links{
	filter: opacity(0);
}
.txt-links:hover{
	filter: opacity(1);
}

.imgLinks{
	filter:blur(0)
}
.imgLinks:hover{
	filter:blur(4px)
}

.navbar-nav{
    justify-content: right;
}

.seccion-bienvenida{
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}


h1{
    margin: auto;
    padding: auto;
    font-size: 400%;
}

h5{
    margin: 0px;
    padding: 0px;
}

span{
	animation:blur 1s ease-out;
	text-shadow:0px 0px 5px #fff,
		0px 0px 7px #fff;
}

@keyframes blur{
	from{
		text-shadow:0px 0px 10px #fff,
		0px 0px 10px #fff, 
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 50px #fff,
		0px 0px 50px #fff,
		0px 0px 50px #7B96B8,
		0px 0px 150px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px -10px 100px #7B96B8,
		0px -10px 100px #7B96B8;}
}

footer{
    align-self: flex-end;
	text-align: center;
	color: ghostwhite;
	background-color: black;
	font-size: 16px;
	font-family: 'Handlee', cursive;
	width: 100%;
    padding: 6px 0px 0px 0px;
}

/*Código para cambiar la barra deslizadora*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #004fec, #00d6fb);
    border-radius: 25px;
    border: 2px solid blue;
}

::-webkit-scrollbar-track {
    background: midnightblue;
}